<div class="container">
  <div class="row justify-content-md-center">
    <div class=" col-lg-12 col-xs-12 consola ">
      <div class="col-lg-12 ">
        <label for="">Seleccione los usuarios que desea consultar</label>
        <div class="alert alert-danger" *ngIf="showErrorUsuarios">
          Debe seleccionar al menos un usuario.
        </div>
        <form [formGroup]="addUserForm" (ngSubmit)="addUser()" >
          <div class="row">
            <mat-select  class="col-lg-4 col-xs-8"  name="usuario" formControlName="usuario" placeholder="Usuarios" [(ngModel)]="selectedValueUsuarios">
              <mat-option *ngFor="let u of dropUsuariosArray"  [value]="u.co_usuario">{{u.no_usuario}}</mat-option>
            </mat-select>
            <div class="col-lg-1 col-xs-1">
              <button mat-button>Agregar <i class="material-icons">add</i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12 usuarios-agregados">
        <mat-chip-list>
          <div class="" *ngFor="let s of allSelectedUsers">
            <mat-chip *ngIf="s" >{{s}}<button (click)="removeUserFromList(s)">x</button> </mat-chip>
          </div>
        </mat-chip-list>
      </div>

      <div class="col-lg-12 periodos">
        <label for="">Seleccione la periodo a consultar</label><br>
        <div class="alert alert-danger" *ngIf="showErrorFechas">
          Debe seleccionar una fecha de inicio y una fecha de término
        </div>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerDesde" placeholder="Choose a date" (dateChange)="addFecha()" [(ngModel)]="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pickerHasta" placeholder="Choose a date" (dateChange)="addFecha()" [(ngModel)]="fechaTermino">
          <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="col-lg-12 btn-accion-container">
        <label for="">Seleccione la acción que desea realizar</label>
        <br>
        <button mat-button color="primary" (click)="getRelatorio()">Renta</button>
        <button mat-button color="accent" (click)="getGrafico()">Gráfico</button>
        <button mat-button color="warn" (click)="getPizza()">Pizza</button>

      </div>
    </div>

  </div><!-- justify-content-md-center -->

</div><!-- container -->


<div class="resultado container-fluid" *ngIf="isRelatorio;">
  <div class="bloque" *ngFor="let u of relatorioArray">
    <div class="col-lg-12">
      <h5 for="">{{u.usuario}}</h5>
    </div>
    <div class="row thead">
      <div class="col-lg-3 col-sm-6">Periodo</div>
      <div class="col-lg-2 hxs">Renta líquida</div>
      <div class="col-lg-2 hxs">Costo Fijo</div>
      <div class="col-lg-2 hxs">Comisión</div>
      <div class="col-lg-3 col-sm-6">Lucro</div>
    </div>
    <div class="tbody ">
      <div class="row" *ngFor="let d of u.data">
        <div class="col-lg-12 row" *ngIf="d.data_emissao != 0;else sinDatosUsuario">
          <div class="col-lg-3 col-sm-6 fecha">{{d.data_emissao |date: 'dd/MM/yyyy'}}</div>
          <div class="col-lg-2 hxs">{{d.liquido | currency}}</div>
          <div class="col-lg-2 hxs">{{d.bruto| currency}}</div>
          <div class="col-lg-2 hxs">{{d.comision| currency}}</div>
          <div class="col-lg-3 col-sm-6 " [ngClass]="getErroClass(d.ganancias)">{{d.ganancias| currency}}</div>
        </div>
        <ng-template #sinDatosUsuario > <div class="sinDatosMessage">No existen datos para este usuario</div></ng-template>
      </div>
    </div>
    <div class="row tfooter">
      <div class="col-lg-3 col-sm-6" ></div>
      <div class="col-lg-2 hxs">{{u.total_liquido| currency}}</div>
      <div class="col-lg-2 hxs">{{u.total_bruto| currency}}</div>
      <div class="col-lg-2 hxs">{{u.total_comision| currency}}</div>
      <div class="col-lg-3 col-sm-6 fecha">{{u.total_ganancia| currency}}</div>
    </div>
  </div>
</div>


<div class="resultado container-fluid" *ngIf="isChart;">

  <div class="container" ngif="pissa">
    <div style="display: block" *ngIf="!isChartSinData;else chartSinData ">
      <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
    <ng-template #chartSinData > <div class="sinDatosMessage">No existen datos para este usuario</div></ng-template>
  </div>


</div>

<div class="resultado container-fluid" *ngIf="isPizza;">
  <div style="display: block" *ngIf="!isPizzaSinData;else pizzaSinData ">
    <canvas baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>

  <ng-template #pizzaSinData > <div class="sinDatosMessage">No existen datos para este usuario</div></ng-template>
</div>
<div class="text-center" *ngIf="isCargando;">
  Cargando...
</div>
