@media only screen and (max-width:575px) {
  .hxs{
    display	:none
  }
  .fecha{
    font-size: 20px;
    font-weight: bold;
  }
  form{
    button.mat-button{
      width: 100%;
      font-size: 25px;
      margin-top: 30px;
    }
  }
  .btn-accion-container{
    button.mat-button{
      width: 30%;
      font-size: 20px;
    }
  }
  .periodos{
    mat-form-field{
      width: 100%;
    }
  }
}

mat-button-toggle-group{
  margin-top:20px;
}
.consola{
  margin-top: 50px;
  .usuarios-agregados{
    background-color: rgba(128, 128, 128, 0.2);
    padding:10px;
    min-height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    mat-chip-list{
      margin-top: 20px;
      mat-chip{
        background-color: rgba(42, 131, 237, 0.7);
        color: white;
        margin-top: 5px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        button{
          border: none;
          color: white;
          background: none;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
        }
        button:hover{
          color: red;
        }
      }
      mat-chip:hover{
        background-color: rgba(42, 131, 237, 1);
      }
    }
  }
  .periodos{
    margin-top: 50px;
  }
  .btn-accion-container{
    margin-top: 50px;
    padding: 10px;
  }
}

.resultado{
  margin-bottom: 100px;
  .sinDatosMessage{
    text-align: center;
  }
  .bloque{
    margin-top: 30px;
    background-color: rgb(224, 224, 224);
    padding: 15px;
    border-radius: 9px;
    .tbody{
      .row{
        .sinDatosMessage {
          margin: auto;
        }
        .row{
          .error{
            color: red;
          }
        }
      }
    }
    .thead{
      background-color: rgba(89, 160, 236, 0.2);
    }
    .tfooter{
      background-color: rgba(89, 160, 236, 0.2);
    }
  }
}
