nav.navbar{
  // background-color:rgba(0,0,0,0.2);
  background-color:#2a83ed;
  #navbarNavAltMarkup{
    .navbar-nav{
      .nav-item{
        color:white;
        -webkit-transition: border 0.1s ease-in-out;
        -moz-transition: border 0.1s ease-in-out;
        -o-transition: border 0.1s ease-in-out;
        transition: border 0.1s ease-in-out;
      }
      .nav-item.active{
        border-bottom:solid 2px white;
      }
    }
  }
}
