
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="http://www.agence.com.br/wp-content/themes/dt-the7/inc/presets/images/agence/agence.png" class="img-fluid pull-xs-left" alt="..."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleMenu()" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{show:isOpen}">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['agence']">Agence</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['proyectos']">Proyectos</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['admin']">Administrativo</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['comercial']">Comercial</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['financiero']">Financiero</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['perfil']">Perfil</a>
    </div>
  </div>
</nav>
